@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #34AF6D, #4AD489);
}

.container{
  position: relative;
  max-width: 850px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  /* overflow: hidden; */
}

.container .forms{
  display: flex;
  align-items: center;
  height: 440px;
  width: 200%;
  transition: height 0.2s ease;
}

.container .form{
  width: 50%;
  padding: 50px 30px 30px 30px;
  background-color: #fff;
  transition: margin-left 0.18s ease;
  overflow: visible;
}

.container .login{
  margin-left: -50%;
  opacity: 0;
  transition: margin-left 0.18s ease, opacity 0.15s ease;
}

.container.active .login{
  margin-left: 0;
  opacity: 1;
  transition: margin-left 0.18s ease, opacity 0.2s ease;
}

.container .signup{
  opacity: 1;
  transition: opacity 0.2s ease;
}
.container.active .signup{
  opacity: 0;
  transition: opacity 0.09s ease;
}

.form header{
  font-size: 30px;
  text-align: center;
  font-weight: 600;
  color: #232836;
  cursor: pointer;
}

.form .title{
  font-size: 30px;
  text-align: center;
  font-weight: 600;
  color: #232836;
  margin-bottom: 30px;
  display: block;
  margin-top: 0;
}

.form .input-field{
  position: relative;
  height: 50px;
  width: 100%;
  margin-top: 20px;
}

.input-field input{
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0 35px;
  border: none;
  outline: none;
  font-size: 16px;
  border-bottom: 2px solid #ccc;
  border-top: 2px solid transparent;
  transition: all 0.2s ease;
}

.input-field input:is(:focus, :valid){
  border-bottom-color: #34AF6D;
}

.input-field i{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
  font-size: 23px;
  transition: all 0.2s ease;
}

.input-field input:is(:focus, :valid) ~ i{
  color: #34AF6D;
}

.input-field i.icon{
  left: 0;
}
.input-field i.showHidePw{
  right: 0;
  cursor: pointer;
  padding: 10px;
}

.form .checkbox-text{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.checkbox-text .checkbox-content{
  display: flex;
  align-items: center;
}

.checkbox-content input{
  width: 14px;
  height: 14px;
  accent-color: #34AF6D;
  margin-right: 10px;
}

.checkbox-text .text{
  color: #232836;
  font-size: 14px;
}

.form a.text{
  color: #34AF6D;
  text-decoration: none;
}
.form a:hover{
  text-decoration: underline;
}

.form .input-field.button{
  margin-top: 40px;
}

.form .input-field.button input{
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 6px;
  border: none;
  background-color: #34AF6D;
  cursor: pointer;
  transition: all 0.3s ease;
}

.input-field.button input:hover{
  background-color: #4AD489;
}

.form .login-signup{
  margin-top: 30px;
  text-align: center;
}